<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <span class="title">Save it forever (pdf/epub/mobi)</span>
    <span class="version">t</span>
  </div>
  {{/if}}
  <ul class="components">
    {{!-- {{#each site.components}} --}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <span class="title">Java Timer</span>
      <ul class="versions">
        {{!-- {{#each ./versions}} --}}
        <li class="version
          {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
          {{~#if (eq this ../latest)}} is-latest{{/if}}">
          <a href="https://buy.stripe.com/4gw7tc42zch2czC4gg">£10 via Stripe</a>
        </li>
        {{!-- {{/each}} --}}
      </ul>
    </li>
    {{!-- {{/each}} --}}
  </ul>
</div>